extends layout

block content
  script(src="/javascripts/settings.js" defer)
  //- Header Section
  .frame.board-cbce6ab7a5dc
    .frame.board-cbce6ab7a5dd
      .frame.board-cbce6ab7a5df
        //- Back Button
        .frame.board-cbce6ab7a5e1(onclick="window.location.href='/ddnss?session=" + session + "'")
          //- Icon
          .shape.rect.ddnss-whit-cc308ee33cef
          //- Left Arrow
          .shape.text.cc3114c068bc
            .text-node-html#html-text-node-fc947488-87cc-8027-8005-cc3114c068bc(data-x="1861" data-y="1097")
              .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
                .paragraph-set.root-0-paragraph-set-0
                  p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                    span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(255, 255, 255, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:30px;text-rendering:geometricPrecision;caret-color:rgba(255, 255, 255, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#ffffff&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") &lt;
          //- Text "Back"
          .shape.text.back-cbce6ab7a5e4
            .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbce6ab7a5e4(data-x="1893" data-y="1104")
              .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
                .paragraph-set.root-0-paragraph-set-0
                  p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                    span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(255, 255, 255, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(255, 255, 255, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#ffffff&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Back
        //- text: Section Title
        .frame.board-cbce6ab7a5e0
          .shape.text.section-ti-cbce6ab7a5e2
            .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbce6ab7a5e2(data-x="1970.0000000000002" data-y="1104")
              .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
                .paragraph-set.root-0-paragraph-set-0
                  p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                    span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-color-ref-id&quot;,&quot;~u18443830-02c3-8035-8005-c6dda394af38&quot;,&quot;~:fill-color-ref-file&quot;,&quot;~u0e2055cb-c016-8147-8005-bd87c13a160c&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Settings
    //- Seperator Line
    .shape.path.path-cbce6ab7a5de
  //- Footer Section
  .frame.board-cbce1a3d912a
    //- Seperator Line
    .shape.path.path-cbcb3f28f2ef
    .frame.board-cadccd608d72
      .frame.board-cae0dacf86bb
        //- OK Button
        .frame.board-cae0dacf86bf(onclick="onClickUpdateSettings()")
          .shape.rect.okblack-cae0dacf86c7
          .shape.text.ok-cae0dacf86c6
            .text-node-html#html-text-node-fc947488-87cc-8027-8005-cae0dacf86c6(data-x="2529" data-y="1751.01")
              .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
                .paragraph-set.root-0-paragraph-set-0
                  p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                    span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-color-ref-id&quot;,&quot;~u18443830-02c3-8035-8005-c6dda394af38&quot;,&quot;~:fill-color-ref-file&quot;,&quot;~u0e2055cb-c016-8147-8005-bd87c13a160c&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Update
        //- Discard Button
        .frame.board-cae0dacf86be(onclick="window.location.href='/ddnss?session=" + session + "'")
          .shape.rect.cancel-bla-cae0dacf86c5
          .shape.text.discard-cae0dacf86c4
            .text-node-html#html-text-node-fc947488-87cc-8027-8005-cae0dacf86c4(data-x="2681.9999999999995" data-y="1751.0099999999995")
              .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
                .paragraph-set.root-0-paragraph-set-0
                  p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                    span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-color-ref-id&quot;,&quot;~u18443830-02c3-8035-8005-c6dda394af38&quot;,&quot;~:fill-color-ref-file&quot;,&quot;~u0e2055cb-c016-8147-8005-bd87c13a160c&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Discard
  //- Content Section
  .scrollable-content
    .frame.board-cadccd608d71
      //- Padding Rectangle
      .shape.rect.rectangle-cc37ae56ad8f
      //- Description Area
      .frame.descriptio-cbc418960a09
        .shape.text.here-goes-cbc3eeeed51f
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc3eeeed51f(data-x="1815" data-y="1260")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") In this section the Dynamic DNS Updater settings can be configured.
                //- p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") It is also multi line.
      //- Section Title
      .frame.section-boa-cc2d2b6d6cbf
        .shape.text.section-ti-cc2d11de413e
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cc2d11de413e(data-x="1815" data-y="1334.01")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:unset;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:20px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") DDNSU URL Address
      //- Read-Write Key Pair (Local URL)
      .frame.key-write-bo-cae65c69f393
        .shape.text.key-cae65c69f395
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cae65c69f395(data-x="1815" data-y="1426.51")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Local URL:
        input#settingsLocalUrlInput.frame.board-cbc68e05ad44(type="text" value=data.localUrl placeholder="Enter Local Url" style="color:#000000;font-size:18px;font-family:'Source Sans 3';font-weight:400;padding-left:10px")
      //- Notice Section
      .frame.notice-boar-cbc8b83da5f1
        .shape.rect.edit-black-cbc8748da7e4
        .shape.text.some-note-cbc892a8a3c4
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc892a8a3c4(data-x="1875" data-y="1188")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Enter the local URL address and the port of the Dynamic DNS Updater service as follow:
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400")    - http://localhost:8080
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400")    - http://127.0.0.1
      //- Read-Write Key Pair (Public URL)
      .frame.key-write-bo-cae65c69f393
        .shape.text.key-cae65c69f395
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cae65c69f395(data-x="1815" data-y="1426.51")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Public URL:
        input#settingsPublicUrlInput.frame.board-cbc68e05ad44(type="text" value=data.publicUrl placeholder="Enter Public Url" style="color:#000000;font-size:18px;font-family:'Source Sans 3';font-weight:400;padding-left:10px")
      //- Notice Section
      .frame.notice-boar-cbc8b83da5f1
        .shape.rect.edit-black-cbc8748da7e4
        .shape.text.some-note-cbc892a8a3c4
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc892a8a3c4(data-x="1875" data-y="1188")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Enter the public URL address and the port of the Dynamic DNS Updater service as follow:
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400")    - https://example.com:8080
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400")    - https://ddnsu.example.com
      //- Seperator Line
      .frame.seperator-b-cbc5c77ccc07
        .shape.path.path-cbc56e878737
      //- Section Title
      .frame.section-boa-cc2d2b6d6cbf
        .shape.text.section-ti-cc2d11de413e
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cc2d11de413e(data-x="1815" data-y="1334.01")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:unset;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:20px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Web Interface Access
      //- Description Area
      .frame.descriptio-cbc418960a09
        .shape.text.here-goes-cbc3eeeed51f
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc3eeeed51f(data-x="1815" data-y="1260")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") The password is used to access the Dynamic DNS Updater web interface.
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Attention: The Dynamic DNS Updater does not have a password recovery mechanism at this time, so make sure to keep your password safe!
      //- Read-Write Key Pair (Current Password)
      .frame.key-write-bo-cae65c69f393
        .shape.text.key-cae65c69f395
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cae65c69f395(data-x="1815" data-y="1426.51")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Current Password:
        input#settingsCurrentPasswordInput.frame.board-cbc68e05ad44(type="password" placeholder="Enter Current Password" style="color:#000000;font-size:18px;font-family:'Source Sans 3';font-weight:400;padding-left:10px")
      //- Read-Write Key Pair (New Password)
      .frame.key-write-bo-cae65c69f393
        .shape.text.key-cae65c69f395
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cae65c69f395(data-x="1815" data-y="1426.51")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") New Password:
        input#settingsNewPasswordInput.frame.board-cbc68e05ad44(type="password" placeholder="Enter New Password" style="color:#000000;font-size:18px;font-family:'Source Sans 3';font-weight:400;padding-left:10px")
      //- Read-Write Key Pair (Repeat Password)
      .frame.key-write-bo-cae65c69f393
        .shape.text.key-cae65c69f395
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cae65c69f395(data-x="1815" data-y="1426.51")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Repeat Password:
        input#settingsRepeatPasswordInput.frame.board-cbc68e05ad44(type="password" placeholder="Repeat New Password" style="color:#000000;font-size:18px;font-family:'Source Sans 3';font-weight:400;padding-left:10px")
      //- Notice Section
      .frame.notice-boar-cbc8b83da5f1
        .shape.rect.edit-black-cbc8748da7e4
        .shape.text.some-note-cbc892a8a3c4
          .text-node-html#html-text-node-fc947488-87cc-8027-8005-cbc892a8a3c4(data-x="1875" data-y="1188")
            .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
              .paragraph-set.root-0-paragraph-set-0
                p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Provide secure password to access the Dynamic DNS Updater service. The password must be:
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400")    - at least 8 characters long.
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400")    - contain at least one uppercase letter.
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400")    - contain at least one lowercase letter.
                p.paragraph.root-0-paragraph-set-0-paragraph-1(dir="ltr")
                  span.text-node.root-0-paragraph-set-0-paragraph-1-text-0(style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;font-size:14px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:Source Sans 3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400")    - contain at least one number.
      .frame.board-cae0dacf86bb
        //- Change Password Button
        .frame.board-passcae0dacf86bf(onclick="onClickChangePassword()")
          .shape.text.ok-cae0dacf86c6
            .text-node-html#html-text-node-fc947488-87cc-8027-8005-cae0dacf86c6(data-x="2529" data-y="1751.01")
              .root.rich-text.root-0(style="display:flex;white-space:break-spaces;align-items:flex-start")
                .paragraph-set.root-0-paragraph-set-0
                  p.paragraph.root-0-paragraph-set-0-paragraph-0(dir="ltr")
                    span.text-node.root-0-paragraph-set-0-paragraph-0-text-0(style="color:rgba(255, 255, 255, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;font-size:18px;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:gfont-source-sans-3;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-color-ref-id&quot;,&quot;~u18443830-02c3-8035-8005-c6dda394af38&quot;,&quot;~:fill-color-ref-file&quot;,&quot;~u0e2055cb-c016-8147-8005-bd87c13a160c&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-family:&quot;Source Sans 3&quot;;font-style:normal;font-weight:400") Change Password
      //- Padding Rectangle
      .shape.rect.rectangle-cc372c8d0a13